html, body {
	width: 100%;
	text-align: center;
	margin: 0;
  	height: 100%;
}

body {
	background-color: #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	color: #5D5D5D;
	overflow: hidden;
	font-weight: 400;
}
#content {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
}

#page_text p {
	display: none;
}
#image-container {
	
	margin: 0 auto;
	position: relative;
	
}

#content img {
    width: auto;
    height: 70vh;
}

#left-nav, #right-nav {
	display: inline-block;
	vertical-align: top;
}

#left-nav, #right-nav {
	width: 100px;
}

#left-nav {
	float: left;
}

#right-nav {
	float: right;
}

.choice {
	position: fixed;
	font-size: 1.5em;
	width: 23%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.choice img {
	max-height: 40px;
}
.choice:hover {
	cursor: pointer;
}

@media screen and (min-width:1200px) {
	.choice {
		font-size: 2.0em;
	}

	#content img {
		height: 90vh;
	}
}

@media screen and (min-width:768px) {
	.choice {
		top: 50%;
		
	}
	.choice:first-child {
		left: 2%;
	}

	.choice:nth-child(2) {
		right: 2%;
	}

	#image-container {
		width: 45%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	
}

@media screen and (max-width:767px) {
	#image-container {
		margin-top: 10px;
	}

	.choice {
	    font-size: 1em;
	    display: inline-block;
	    position: relative;
	    width: 33%;
	    height: 100%;
		
	}

	.choice:first-child {
		text-align: left;
	}

	.choice:nth-child(2) {
		text-align: right;
	}

	#response {
		width: 100%;
		position: fixed;
		height: 30vh;
		/*bottom: 20px;*/
	}


}

@media screen and (max-height:450px) {
	#image-container {
		margin-top: 0px;
	}

	.choice {
		top: 50%;
		width: 33%;
		position: fixed;
		
	}
	.choice:first-child {
		left: 2%;
	}

	.choice:nth-child(2) {
		right: 2%;
		top: 50%;
	}

	#image-container {
		width: 45%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	#response {
		width: 100%;
		
	}


}

@media screen and (max-width:480px) {
	#content img {
	    /*width: 100%;
	    height: auto;*/
	}


}
